.post-form {
  padding: 5px 25px 0 25px;

  .form-group {
    display: block;
    margin-bottom: 5px;

    .description {
      resize: none;
    }
  }

  .status {
    margin-bottom: 5px;

    mat-label {
      margin-right: 10px;
      color: #949494;
    }
  }

  .button-group {
    display: flex;
    justify-content: center;

    button {
      margin-bottom: 20px;
      margin-left: 15px;
      padding: 0 40px;
    }
  }
}