.user-form {
    padding: 5px 25px 0 25px;

    .form-group {
        display: block;
        margin-bottom: 5px;

        textarea {
            resize: none;
        }
    }

    .button-group {
        display: flex;
        justify-content: center;

        button {
            margin-bottom: 20px;
            margin-left: 15px;
            padding: 0 40px;
        }
    }
}