<div class="post-confirm">
  <h2 class="title">{{type == 'add'? 'Create Post Confirmation' : 'Update Post Confirmation'}}</h2>
  <table class="confirm-table">
    <tr>
      <td class="sub-ttl">Title</td>
      <td>{{postData?.title}}</td>
    </tr>
    <tr>
      <td class="sub-ttl">Description{{postData.postId}}</td>
      <td>{{postData?.description}}</td>
    </tr>
    <tr *ngIf="postData.postId">
      <td class="sub-ttl">Status</td>
      <td>
        {{isChecked}}
      </td>
    </tr>
  </table>
  <div class="button-group">
    <button mat-flat-button (click)="onSubmit()" color="primary">{{type == 'add'? 'Create' : 'Update'}}</button>
    <button mat-stroked-button (click)="goBackPostCreate()" color="warn">Cancel</button>
  </div>
</div>