<div class="container">
  <h2>User Profile</h2>
  <table class="user-table">
    <tr>
      <td class="label">Name</td>
      <td>{{userData?.username}}</td>
    </tr>
    <tr>
      <td class="label">Email Address</td>
      <td>{{userData?.email}}</td>
    </tr>
    <tr>
      <td class="label">Type</td>
      <td>{{userData?.employee?.type? 'User': 'Admin'}}</td>
    </tr>
    <tr>
      <td class="label">Phone</td>
      <td>{{userData?.employee?.phone}}</td>
    </tr>
    <tr>
      <td class="label">Date Of Birth</td>
      <td>{{userData?.employee?.dob | date: 'shortDate'}}</td>
    </tr>
    <tr>
      <td class="label">Address</td>
      <td>{{userData?.employee?.address}}</td>
    </tr>
    <tr>
      <td class="change-btn" colspan="2">
        <button mat-icon-button (click)="editProfile()" color="primary">Edit Profile</button>
      </td>
    </tr>
  </table>
</div>