.container {
  width: 35%;
  margin: 30px auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0 15px 20px 15px;

  h2 {
    padding: 20px 15px 0 15px;
  }

  .user-table {
    padding: 0 15px;
    font-size: 14px;

    td {
      padding: 10px 0;
    }

    .label {
      padding-right: 30px;
    }

    .change-btn {
      padding: 5px 0 30px 0;
    }

  }
}