  <div class="container">
    <h2>User Profile</h2>
    <table class="user-table">
      <tr>
        <td class="label">Name</td>
        <td>{{userData.user.username}}</td>
      </tr>
      <tr>
        <td class="label">Email Address</td>
        <td>{{userData.user.email}}</td>
      </tr>
      <tr>
        <td class="label">Type</td>
        <td>{{userData.type? 'User': 'Admin'}}</td>
      </tr>
      <tr>
        <td class="label">Phone</td>
        <td>{{userData.phone}}</td>
      </tr>
      <tr>
        <td class="label">Date Of Birth</td>
        <td>{{userData.dob | date: 'shortDate'}}</td>
      </tr>
      <tr>
        <td class="label">Address</td>
        <td>{{userData.address}}</td>
      </tr>
      <tr *ngIf="role === 'user'">
        <td class="change-btn" colspan="2">
          <a [routerLink]="['/password-change']">Change Password</a>
        </td>
      </tr>
    </table>
  </div>