<div class="user-container">
  <h2 class="user">Create User</h2>
  <form [formGroup]="userForm" (ngSubmit)="confirmUser()" class="user-form">

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name">
      <mat-error *ngIf="myForm['name'].hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Email Address">
      <mat-error *ngIf="myForm['email'].hasError('required')">Email address is required</mat-error>
      <mat-error *ngIf="myForm['email'].hasError('pattern')">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="myForm['password'].hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="!myForm['password'].hasError('required') && myForm['password'].hasError('pattern')">Password must be more than 8characters long,must contain at least 1uppercase and 1numeric.</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPwd">
      <mat-error *ngIf="myForm['confirmPwd'].hasError('required')">Confirm password is required</mat-error>
      <mat-error *ngIf="myForm['confirmPwd'].hasError('mustMatch')">Password must be match</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select matNativeControl name="type" formControlName="type" required>
        <mat-option *ngFor="let selectOption of typeOption" [value]="selectOption.value"> {{selectOption.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput type="text" (keypress)="keyPress($event)" formControlName="phone" placeholder="Phone">
      <mat-error *ngIf="myForm['phone'].hasError('required')">Phone is required</mat-error>
      <mat-error *ngIf="!myForm['phone'].hasError('required') && myForm['phone'].hasError('pattern')">
        Phone number must be start with 09 and 11 digits</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>

    <div>
      <h4>Profile</h4>
    <button type="button" mat-stroked-button (click)="fileInput.click()">Upload Image</button>
    <input hidden #fileInput type="file" id="file" (change)="onSelectFile($event)"><br><br>
    <img class="image-upload" src={{profileUrl}} alt="Profile Image" width="100" height="100" style="border: radius 15px;">
    </div>

    <div class="button-group">
      <button mat-flat-button type="submit" [disabled]="!userForm.valid" color="primary" class="btn-submit">Confirm</button>
      <button mat-stroked-button type="reset" (click)="clearData()" color="warn">Clear</button>
    </div>
  </form>
</div>