<div class="user-confirm">
  <h2 class="title">{{formType == 'add'? 'Create User Confirmation' : 'Update User Confirmation'}}</h2>
  <div class="profile-blk">
    <img width="100" height="110" style="border: radius 10px;" src={{userData?.profile}}>
  </div>
  <table class="confirm-table">
    <tr>
      <td class="sub-ttl">Name</td>
      <td>{{userData?.name}}</td>
    </tr>
    <tr>
      <td class="sub-ttl">Email Address</td>
      <td>{{userData?.email}}</td>
    </tr>
    <tr *ngIf="formType == 'add'">
      <td class="sub-ttl">Password</td>
      <!-- <td>{{ userData?.password! | password : userData?.password! }}</td> -->
    </tr>
    <tr>
      <td class="sub-ttl">Type</td>
      <!-- <td>{{ userData?.type === 1 ? 'User' : 'Admin' }}</td> -->
      <td>{{ userData?.type === 1 ? 'User' : 'Admin' }}</td>
    </tr>
    <tr>
      <td class="sub-ttl">Phone</td>
      <td>{{userData?.phone}}</td>
    </tr>
    <tr>
      <td class="sub-ttl">Date Of Birth</td>
      <td>{{userData?.dob | date: 'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <td class="sub-ttl">Address</td>
      <td>{{userData?.address}}</td>
    </tr>
  </table>
  <div class="button-group">
    <button mat-flat-button (click)="onSubmit()" color="primary">{{formType == 'add'? 'Create' : 'Update'}}</button>
    <button mat-stroked-button (click)="goBackUserCreate()" color="warn">Cancel</button>
  </div>
</div>