<div class="container">

  <h2 class="title">Post List</h2>

  <!-- Search Operation Field -->
  <div class="filter">
    <mat-form-field appearance="outline">
      <mat-label>Search Posted</mat-label>
      <input matInput placeholder="Search" [(ngModel)]="searchText" type="text" #input>
    </mat-form-field>

    <!-- Operation Button -->
    <div class="opr-btn">
      <button mat-flat-button color="primary" class="btn btn-sm btn-primary ml-1" (click)="applyFilter()">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-flat-button color="primary" class="btn btn-sm btn-primary ml-1" (click)="createPost()">
        <mat-icon>post_add</mat-icon>Add
      </button>
      <button mat-flat-button color="primary" (click)="uploadCSV()" class="btn btn-sm btn-primary ml-1">
        <mat-icon>cloud_upload</mat-icon>Upload
      </button>
      <button mat-flat-button color="primary" class="btn btn-sm btn-primary ml-1" (click)="exporter.exportTable('csv',{fileName:'post-data'})">
        <mat-icon>cloud_download</mat-icon>Download
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table mat-Sort matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" [hiddenColumns]="[4]">
      <!-- Post Title -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Post Title </th>
        <td mat-cell *matCellDef="let row">
          <button mat-stroked-button (click)="titleDetail(row.id)" color="primary">
          {{row.attributes.title}}
          </button>
        </td>
      </ng-container>

      <!-- Description -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Post Description </th>
        <td mat-cell *matCellDef="let row"> {{row.attributes.description}} </td>
      </ng-container>

      <!-- Created User Id -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Posted User </th>
        <!-- <td mat-cell *matCellDef="let row"> hello </td> -->
        <td mat-cell *matCellDef="let row"> {{row.attributes.user.data.attributes.username}} </td>
      </ng-container>

      <!-- Created Date -->
      <ng-container matColumnDef="created_at" class="created_at">
        <th mat-header-cell *matHeaderCellDef> Posted Date </th>
        <td mat-cell *matCellDef="let row"> {{row.attributes.createdAt | date: 'shortDate'}} </td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editPost(row.id)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletePost(row.id)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</div>