.container {
  text-align: center;

  .upload-icon {
    display: flex;
    justify-content: center;

    mat-icon {
      margin-bottom: 20px;
      transform: scale(1.5);
    }
  }

  .upload-btn {
    display: flex;
    justify-content: center;
  }
}